<!DOCTYPE html>
<html lang="zh"><!-- InstanceBegin template="/Templates/Head.dwt" codeOutsideHTMLIsLocked="false" -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>商品修改-后台管理</title>
    <!-- InstanceEndEditable -->
    <link href="{$smarty.const.ADMIN_CSS_URL1}bootstrap.min.css" rel="stylesheet">
    <link href="{$smarty.const.ADMIN_CSS_URL1}navbar-fixed-top.css" rel="stylesheet">
	<link href="{$smarty.const.CSS_URL1}public.css" rel="stylesheet" type="text/css" >
	<link rel="icon" href="{$smarty.const.IMG_URL1}icon.ico" type="image/x-icon">
	
	<style type="text/css">
		table{
            width: 100%;  
            table-layout: fixed; 
        }
        .th01{
            width: 50%;
        }
		.th02{
            width: 70%;
        }
        td{ 
            white-space: nowrap;/*控制单行显示*/
            overflow: hidden;/*超出隐藏*/   
            text-overflow: ellipsis;/*隐藏的字符用省略号表示*/  
        }   
  </style>
  <!-- InstanceBeginEditable name="head" -->
  <!-- InstanceEndEditable -->
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{$smarty.const.__MODULE__}/Index/index/aid/{session('admin_id')}"><b>家用电器销售商城管理后台</b></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
		{if (!empty(session('admin_id')) and !empty(session('admin_name')))}
          <ul class="nav navbar-nav">
            <li><a href="{$smarty.const.__MODULE__}/Index/index/aid/{session('admin_id')}">首页</a></li>
            <li><a href="{$smarty.const.__MODULE__}/Goods/goods_list/aid/{session('admin_id')}">商品管理</a></li>
            <li><a href="{$smarty.const.__MODULE__}/Goods/goods_type/aid/{session('admin_id')}">商品类型</a></li>
			<li><a href="{$smarty.const.__MODULE__}/Goods/rb/aid/{session('admin_id')}">商品回收站</a></li>
			<li><a href="{$smarty.const.__MODULE__}/Goods/order_list/aid/{session('admin_id')}">订单管理</a></li>
            <li><a href="{$smarty.const.__MODULE__}/Users/users_list/aid/{session('admin_id')}">用户管理</a></li>
            <li><a href="{$smarty.const.__MODULE__}/Set/settings/aid/{session('admin_id')}">网站设置</a></li>			
          </ul>

			<div style="height: 15px;margin-top: 15px;float: left"><font id="time" style="text-align: center;"></font></div>
				<script type="text/javascript">
				function now(){
				var myDate = new Date();
				var myWeek = new Array(6);
				myWeek[0] = "星期日";
				myWeek[1] = "星期一";
				myWeek[2] = "星期二";
				myWeek[3] = "星期三";
				myWeek[4] = "星期四";
				myWeek[5] = "星期五";
				myWeek[6] = "星期六"; 
				var nowTime ="<span>" + myDate.getFullYear() + "/" + (myDate.getMonth() + 1) + "/" + myDate.getDate() + "/"  + myWeek[ myDate.getDay()] + "&nbsp;" + myDate.getHours() + ":" + myDate.getMinutes() + ":" + myDate.getSeconds() + "</span>";
				document.getElementById("time").innerHTML = nowTime;
				}
				setInterval("now()",1000);
				</script>		
		
          <ul class="nav navbar-nav navbar-right">
			<li class="active"><a href="javascript:jump('{$smarty.const.__MODULE__}/Index/logout')">退出</a></li>
			  <li>&nbsp;</li>
            <li class="active"><a href="{U('Home/Index/index')}" target="_blank">进入前台 <span class="sr-only">(current)</span></a></li>
          </ul>
		  
			<script>
				function jump($str){
    				if(confirm("确定退出吗？")){
        				window.location =$str
    				}
				}
			</script>
			
		{/if}
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
		
		<!-- InstanceBeginEditable name="center" -->
		
		     <br><br>
      <br><br><br>
      <table class="table ">


        <thead>
          <tr>
            <th colspan="4">修改商品</th>
          </tr>
        </thead>
        <tbody>
            
{if (!empty($errorinfo))}
<form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
{foreach $info as $k => $v}
    <tr>
      <td width="6%">商品编号：</td>
      <td width="61%">{$v.goods_id}</td>
      <td></td>
    </tr>
    <tr>
      <td width="6%">添加时间：</td>
      <td width="61%">{$v.join_date}</td>
      <td></td>
    </tr>
    <tr>
      <td width="6%">近期操作时间：</td>
      <td width="61%">{$v.c}</td>
      <td></td>
    </tr>
    <tr>
      <td width="6%">商品名称：</td>
      <td><input name="goods_name" type="text" value="{$v.goods_name}" style="width:265px;height:30px;"></td>
      <td><font style=" color: red">{$errorinfo.goods_name|default:""}</font></td>
    </tr>
    <tr>
      <td>现价：</td>
      <td><input name="goods_price" type="text" value="{$v.goods_price}" style="width:247px;height:30px;"><font style=" color: red"> 元</font></td>
      <td><font style=" color: red">{$errorinfo.goods_price|default:""}</font></td>
    </tr>
    <tr>
      <td>原价：</td>
      <td><input name="goods_old_price" type="text" value="{$v.goods_old_price}" style="width:247px;height:30px;"><font style=" color: red"> 元</font></td>
      <td><font style=" color: red">{$errorinfo.goods_old_price|default:""}</font></td>
    </tr>
    <tr>
      <td>库存：</td>
      <td><input name="num" type="text" value="{$v.num}" style="width:265px;height:30px;"><font style=" color: red"> 件</font></td>
      <td><font style=" color: red">{$errorinfo.num|default:""}</font></td>
    </tr>
    <tr>
      <td>商品描述：</td>
      <td><input name="goods_description" type="text" value="{$v.goods_description}" style="width:265px;height:80px;"></td>
      <td><font style=" color: red">{$errorinfo.goods_description|default:""}</font></td>
    </tr>
    <tr>
      <td>商品类型：</td>
      <td><select class="" name="goods_type">
                {foreach $goodstypelist as $k => $v}
		  	<option value="{$goodstypelist[$k]['typename']}">{$goodstypelist[$k]['typename']}</option>
                {/foreach}
		  </select></td>
    </tr>
    <tr>
      <td>商品状态：</td>
      <td><select class="" name="status">
		  	<option value="0">上架</option>
		  	<option value="1">下架</option>
		  </select></td>
    </tr>
    <tr>
      <td>是否展示在前台首页：</td>
      <td><select class="" name="view_index">
		  	<option value="0">不展示</option>
		  	<option value="1">展示</option>
		  </select></td>
    </tr>
	<tr>
      <td>商品例图：</td>
      <td><input name="goods_pic" type="file" value="" size="100px"></td>
      <td><font style=" color: red">{$errorinfo.goods_pic|default:""}</font></td>
    </tr>
    
    <tr colspan="2">
      <td>&nbsp;</td>
      <td>
        <input type="submit" class="btn btn-success" value="确认数据">
      </td>
    </tr>
  {/foreach}
  </form>
{/if}	

{if (empty($errorinfo))}
    {session('datetype','c')}
    <tr>
      <td>商品编号：</td>
      <td>{$goods_edit.goods_id}
    </tr>
    <tr>
    <tr>
      <td>商品名称：</td>
      <td>{$goods_edit.goods_name}
    </tr>
    <tr>
      <td>现价：</td>
      <td>{$goods_edit.goods_price}&nbsp;元
    </tr>
    <tr>
      <td>原价：</td>
      <td>{$goods_edit.goods_old_price}&nbsp;元
    </tr>
    <tr>
      <td>库存：</td>
      <td>{$goods_edit.num}&nbsp;件
    </tr>
    <tr>
      <td>商品描述：</td>
      <td>{$goods_edit.goods_description}
    </tr>
    <tr>
      <td>商品类型：</td>
      <td>{$goods_edit.goods_type}
    </tr>
    <tr>
      <td>商品状态：</td>
      <td>{$goods_edit.status}
    </tr>
    <tr>
      <td>是否展示在前台首页：</td>
      <td>{$goods_edit.view_index}
    </tr>
    
	<tr>
      <td>商品例图：</td>
      <td><img src="{$goods_edit.goods_small_pic}" width="60px" height="60px">
    </tr>
    
    <tr colspan="2">
      <td>
        <a href="{$smarty.const.__CONTROLLER__}/goods_doadd/goods_id/{$goods_edit.goods_id}/aid/{session('admin_id')}"><input type="submit" class="btn btn-success" value="确认修改"></a>
      </td>
    </tr>
{/if}		
    <tr>
      <td>      
      </tbody>
  </table>
		
	  <!-- InstanceEndEditable -->

    </div> 
    <!-- /container -->
</body>
<!-- InstanceEnd --></html>
