<!DOCTYPE html>
<html><!-- InstanceBegin template="/Templates/home.dwt" codeOutsideHTMLIsLocked="false" -->
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<!-- InstanceBeginEditable name="doctitle" -->
		<title>收货地址 - 家用电器销售商城</title>
		<!-- InstanceEndEditable -->
		<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}public.css">    
		<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}general.css">
		<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}index.css">
	   <link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}goods.css">
		<link rel="icon" href="{$smarty.const.IMG_URL1}icon.ico" type="image/x-icon">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
	</head>
	<body>
<div style=" min-width: 1700px;">
	<div style="height: 20px;background: #FFFFFF"></div>
		<div class="top01">					

        <!-- 头部主体开始 -->
        <div class="module cut" style="width: 75%;margin-left: 8%">
            <div class="logo fl"><a ><a href="{$smarty.const.__SELF__}"><img alt="" src="{$smarty.const.IMG_URL1}logo.png" border="0"></a></div>
            <!-- 头部搜索开始 -->
            <div class="top-search fl">
                <form method="post" action="{$smarty.const.__MODULE__}/Goods/goods_list/uid/{session('uid')}">
                    <div class="sf cut">
                        <input class="fl" name="kw" type="text" value="" placeholder="搜索您想要的商品，输入的名称越短搜索得越多">
                        <button class="fr" type="submit">搜 索</button>
                    </div>
                </form>

            </div>
            <!-- 头部搜索结束 -->
            <!-- 头部购物车开始 -->
            <!--网络时间-->
            <!--<div style="margin-right: 20;text-align: right">{*session('p_time')*}</div>-->
            <!--本地时间-->
            <div id="time"  style="margin-right: 20;text-align: right; height: 20px"></div>
            <script type="text/javascript">
            function now(){
            var myDate = new Date();
            var myWeek = new Array(6);
            myWeek[0] = "星期日";
            myWeek[1] = "星期一";
            myWeek[2] = "星期二";
            myWeek[3] = "星期三";
            myWeek[4] = "星期四";
            myWeek[5] = "星期五";
            myWeek[6] = "星期六"; 
            var nowTime ="<span>" + myDate.getFullYear() + "年" + (myDate.getMonth() + 1) + "月" + myDate.getDate() + "日"  + " " + myWeek[ myDate.getDay()] + " " + myDate.getHours() + ":" + myDate.getMinutes() + ":" + myDate.getSeconds() + "</span>";
            document.getElementById("time").innerHTML = nowTime;
            }
            setInterval("now()",1000);
            </script>
            
            <div class="top-cart fr">
                <div class="radius4 mt10">
                    {if (!empty(session('uid')))}
                    <form method="post" action="{$smarty.const.__MODULE__}/user/cart/uid/{session('uid')}" id="tocart">
                    <input type="hidden" name="tocart" value='true'>
                    <a href="{$smarty.const.__MODULE__}/user/center/uid/{session('uid')}">{session('uname')}，欢迎您！</a>&nbsp;
                    <i class=""><img src="{$smarty.const.IMG_URL1}cart.gif" style="width: 20px"> </i>
                    <input type="submit" value="我的购物车">
                    </form>
                    {/if}
                </div>
            </div>
            <!-- 头部购物车结束 -->
</div>

        </div>
        <!-- 头部主体结束 -->
        
        <div class="nav-bar" style="">
            <div class="nav-content">
                <ul class="main-nav" >{$type = session('goodstypelist')}
                    <li class="parent global-btn">
                        <a href="{$smarty.const.__MODULE__}/Goods/goods_list/uid/{session('uid')}"  style=" width: 100px; text-align: center;background:#8B5A2B">
                            <b>全部商品分类</b></a>
                        
                        <ul class="level-2">   {foreach $type as $k => $v}                         
                            <li><a href="{$smarty.const.__CONTROLLER__}/goods_list/type/{$type[$k]['typename']}"  style=" width: 100px; text-align: center">{$type[$k]['typename']}</a>
                       {/foreach} </ul>
                        
                    </li>
                    {if (!empty({session('uid')}))}
                            <li><a href="{$smarty.const.__MODULE__}/index/index/uid/{session('uid')}">首页</a></li>
                            <li><a href="{$smarty.const.__MODULE__}/user/center/uid/{session('uid')}">用户中心</a></li>
                            <li><a href="{$smarty.const.__MODULE__}/user/logout/uid/{session('uid')}">退出</a></li>                            
                        {/if}
                        {if (empty({session('uid')}))}
                            <li><a href="{$smarty.const.__MODULE__}/index/index">首页</a></li>
                            <li><a href="{$smarty.const.__MODULE__}/user/login">登录</a></li>
                            <li><a href="{$smarty.const.__MODULE__}/user/regist">注册</a></li>
                        {/if}
                </ul>
            </div>



<!--主体部分-->
		<div class="box">
			<font  style="color: #000000">
			
			
			<!-- InstanceBeginEditable name="homecenter" -->
				<div style="height: 30px"></div>
		<div class="container w1100">	
        <div class="div_head" style="width: 95%">
            <span>
                <span style="float: left;font-size: 16px">当前位置是：个人中心-》收货地址</span>
            </span>
            <span style="float:right;margin-right: 8px;font-weight: bold">
                    【 <a style="text-decoration: none" href="{$smarty.const.__MODULE__}/user/center/uid/{session('uid')}">返回个人中心</a> 】
                </span>
        </div>
        <div></div>
        <div style="font-size: 13px; margin: 10px 5px; width: 95%">
            <table class="table_a" border="1" width="100%">
                <tbody>
                    <tr style="font-weight: bold;height: 30px">
                        <td style="width: 100px; text-align: center">条目</td>
                        <td style="width: 150px;  text-align: center">收件人</td>
                        <td style="width: 150px;  text-align: center">联系电话</td>
                        <td style=" text-align: center">收件地址</td>
                        <td colspan="2" style=" text-align: center" >操作</td>
                    </tr>
                        {foreach $addr as $k => $v}
                        <input type="hidden" name="goodscartid[]" value="{$v.id}"></input>
                       {if ($v == "")}
                       {$v = "--"}{/if}
                       {if ($name[$k] == "")}
                       {$name[$k] = "--"}{/if}
                       {if ($tel[$k] == "")}
                       {$tel[$k] = "--"}{/if}
                        <tr id="product1" style="height: 25px">                         
                        <td>{$k + 1}</td>
                        <td>{$name[$k]}</td>
                        <td>{$tel[$k]}</td>
                       <td>{$v}</td>
                         <td style=" width: 120px;text-align: center"><a href="{$smarty.const.__MODULE__}/User/upaddr/addr/addr{$k}/uid/{session('uid')}">增加/修改</a></td>
                         <td style=" width: 80px;text-align: center"><a href="javascript:jump('{$smarty.const.__MODULE__}/User/deladd/addr/addr{$k}/uid/{session('uid')}')">删除</a></td>
                    </tr>
                    {/foreach}                    
                    <tr>
                        <td colspan="20" style="text-align: center;">
                            {$pagelist}
                        </td>
                    </tr>
                </tbody>
            </table>
            {if (empty({$addr}))}<br /><br /><br />
            <div class="box01">
                <span style="font-weight: bold;">
                    您还没有收货信息表哦，请输入
                </span>

                <form name="add_addr" method="post" enctype="multipart/form-data" action="{$smarty.const.__MODULE__}/User/add_address/uid/{session('uid')}">
                        <ul>
                                <li>
                                        <div class="null01"></div>
                                        <div class="regdiv" style="background: url({$smarty.const.IMG_URL1}user.png) no-repeat 0 center;background-size: 50px;">
                                                <input name="uname" type="text" placeholder="会员名"/>
                                        </div>
                                        <div class="regdiv mt12" style="background: url({$smarty.const.IMG_URL1}user.png) no-repeat 0 center;background-size: 50px;">
                                                <input name="user_name" type="text" placeholder="姓名"/>
                                        </div>
                                        <div class="regdiv mt12" style="background: url({$smarty.const.IMG_URL1}user.png) no-repeat 0 center;background-size: 50px;">
                                                <input name="tel" type="text" placeholder="电话"/>
                                        </div>
                                        <div class="regdiv mt12" style="background: url({$smarty.const.IMG_URL1}user.png) no-repeat 0 center;background-size: 50px;">
                                                <input name="address" type="text" placeholder="地址"/>
                                        </div>
                                </li>					
                                <li class="fl">
                                        <div class="yz1div fl" style="background: url({$smarty.const.IMG_URL1}yz.png) no-repeat 0 center;background-size: 50px;">
                                                <input name="captcha" type="text" placeholder="验证码"/>
                                        </div>
                                        <div class="yz2div fr">
                                                <img src="{$smarty.const.__CONTROLLER__}/verifyImg"  onclick="this.src='{$smarty.const.__CONTROLLER__}/verifyImg/'+Math.random() " alt="" />
                                        </div>
                                </li>
                                <div class="null01"></div>

                                <div class="clear"></div>					
                        </ul>
                        <input class="regbutton" type="submit" value="创建收货信息表"/>
                </form>
		</div>
                {/if}
        </div>
			</font>
		</div>
			
			<!-- InstanceEndEditable -->
			
	<div style="width: 95%">
				<table style="width: 100%; text-align: center">
					<tr style="height: 10px"></tr>
					<tr>
					<td><a href="javascript:history.go(-1)" ><button οnclick="history.go(-1)" style="width: 100px;height: 30px;">返回上一页</button></a></td>
		</tr><tr style="height: 10px"></tr>
		</table>
		
		</div>	
			</font>
		</div>
		<div style="clear: both"></div>	
		<div class="bottom01">
		  <table width="100%"  height="100%" border="0" style="align-content: center">
		    <tbody>
		      <tr>
		        <td><a href="{U('Admin/Index/index')}"  target="_blank" style="font-size: 16px; color: #000000;">后台管理</a></td>
	          </tr>
	        </tbody>
	      </table>
    </div></div>
	</body>
<!-- InstanceEnd --></html>