<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>修改个人信息 - 家用电器销售商城</title>
		<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}public.css">    
		<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}general.css">
		<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}index.css">
	   <link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}goods.css">
		<link rel="icon" href="{$smarty.const.IMG_URL1}icon.ico" type="image/x-icon">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>

	</body>
</html>