<!DOCTYPE html>
<html><!-- InstanceBegin template="/Templates/home.dwt" codeOutsideHTMLIsLocked="false" -->
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<!-- InstanceBeginEditable name="doctitle" -->
		<title>支付 - 家用电器销售商城</title>
		<!-- InstanceEndEditable -->
		<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}public.css">    
		<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}general.css">
		<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}index.css">
	   <link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL1}goods.css">
		<link rel="icon" href="{$smarty.const.IMG_URL1}icon.ico" type="image/x-icon">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
	</head>
	<body>

	</body>
<!-- InstanceEnd --></html>